@import "../../variables";

.ncg-game-container {
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 30px;
    color: white;
    background: #10afff;
    background-image: url('/assets/gfx/bgBotPoly.svg');
    background-size: cover;
    background-position: right bottom;

    h1 {
      font-size: 20px;
      position: absolute;
      top: 30px;
      left: 20px;
      width: 50%;
      box-sizing: border-box;
    }
  }
  .sub-header {
    width: 100%;
    height: #{$sub-header-height}px;
    position: absolute;
    top: #{$top-height}px;
    left: 0;
    border-bottom: 1px solid #aaaaaa;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;

    .backbutton {
      margin-left: 0.54em;
      margin-bottom: -0.15em;
    }

    .flow-name {
      font-size: 20px;
      margin-bottom: -0.48em;
      margin-left: 0.68em;
    }
  }
  main {
    position: absolute;
    top: #{$top-content}px;
    height: calc(100% - #{$top-content}px);
    width: 100%;
  }

}
