@import "../../variables";

.ncg-game-container {
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: #{$top-height}px;
    box-sizing: border-box;
    padding: 30px;
    color: white;
    background: black;

    h1 {
      font-size: 20px;
      position: absolute;
      top: 30px;
      left: 20px;
      width: 50%;
      box-sizing: border-box;
    }

    .top-menu {
      position: absolute;
      top: 30px;
      right: 20px;
    }
  }
  main {
    position: absolute;
    top: #{$top-content}px;
    height: calc(100% - #{$top-content}px);
    width: 100%;
  }

}
