@import "../../style/variables";

.game-container {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: calc(100% - #{$menu-width}px);
  height: 100%;
  top:0;
  h2 {
    padding: 12px 0 13px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    line-height: 20px;
    border: 3px solid #16b4f9;
    color: #16b4f9;
    font-size: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .question {
    display: inline-block;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    margin: 25px 0 15px;
  }
  .answer-container {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 0;
    .answer-button {
      position: absolute;
      right: 3px;
      top: 5px;
      color: #16b4f9;
      font-size: 20px;
      z-index: 100;
      cursor: pointer;
      padding: 13px;
      .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .fa-send:before {
        content: "\f1d8";
      }
    }
    .answer {
      background: 0 0;
      border: 0;
      border-radius: 0;
      border-bottom: 3px solid rgba(255,255,255,.8);
      padding: 15px 60px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 22px;
      outline: none;
      text-align: center;
      font-family: lato,sans-serif;
      color: #16b4f9;
      border-color: #16b4f9;
      position: relative;
    }
    .wrong {
      color: red;
      border-color: red;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
    .correct {
      color: rgb(25, 204, 25);
      border-color: rgb(25, 204, 25);
      animation: zoominout 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
    @keyframes zoominout {
      0% {
          transform: scale(1,1);
      }
      50% {
          transform: scale(1.05,1.05);
      }
      100% {
          transform: scale(1,1);
      }
    }
    @keyframes shake {
      10%, 90% {
        transform: translate3d(-2px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(4px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-8px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(8px, 0, 0);
      }
    }
}
}

.game-menu {
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  width: #{$menu-width}px;
  overflow: hidden;
}
