<div class="game-container">
  <ng-container *ngIf="game && !completed">
    <h2 id="level">{{game.level}}</h2>
    <div class="question">
      <p>{{game.question}}</p>
    </div>
    <div class="answer-container">
      <span class="answer-button">
        <i class="fa fa-send"></i>
      </span>
      <input [(ngModel)]="solution" [ngClass]="answerClass" (keyup)="onKeyUp($event)" (keyup.enter)="onKeyUpEnter($event)" type="text" name="name" class="answer" autofocus="autofocus" autocomplete="off">
    </div>
  </ng-container>
  <ng-container *ngIf="completed">
    <div>YOU'RE A WINNER BABY</div>
    <ncg-game-button (gameClick)="onDoReset($event)">RESTART</ncg-game-button>
  </ng-container>
</div>
<div class="game-menu">
    GAME MENU {{solution}} EVENT: {{event}}
</div>
