<div class="game-container">
  <ng-container *ngIf="game">
    <h2 id="level">{{game.level}}</h2>
    <div class="question">
      <p>{{game.question}}</p>
    </div>
    <div class="answer-container">
      <span class="answer-button">
        <i class="fa fa-send"></i>
      </span>
      <input [(ngModel)]="solution" (keyup.enter)="onKeyUpEnter($event)" type="text" name="name" class="answer" autofocus="autofocus" autocomplete="off">
    </div>
  </ng-container>
</div>
<div class="game-menu">
    GAME MENU {{solution}}
</div>
